/* custom-container:half and third*/
.custom-block.third,
.custom-block.half
  width 32%
  display inline-block
  vertical-align top
  box-sizing border-box
.custom-block.half
  width 48%
.custom-block.center
  text-align center
  padding 3em