.main-home
  a.button,
    input.button
      padding: 0.50em 2em
      border-radius: 2em
      display: inline-block
      color: #fff
      background-color: lighten($landoPink, 8%)
      transition: all .15s ease
      box-sizing: border-box
      border: 1px solid lighten($landoPink, 8%)
      &.has-icon
        position: relative
        text-indent: 1.4em
        > svg
          position: absolute
          left: 0.4em
          top: 0.3em
          width: 2em
      &.white
        background-color: #fff
        color: $landoPink
      &.gray
        background-color: #4e6e8e
        color: $light
        border-color: #4e6e8e
      &.transparent
        background-color: transparent
        color: $landoPink
  header
    background-color: #fff
    height: 60px
    padding: 10px 60px
    position: relative
    z-index: 100
  header.navbar
    border: 0
    .logo
      display: none
  .inner
    width: 1260px
    margin: 0 auto
  .strikethrough
    display: table
    white-space: nowrap
    &:before, &:after
      border-top: 1px solid lighten($landoBlue, 5%)
      content: ''
      display: table-cell
      position: relative
      top: 0.6em
      width: 45%
    &:before
      right: 2.5%
    &:after
      left: 2.5%
  #hero
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    min-height: 100vh
    .hero-left, .hero-right
      display: inline-block
      vertical-align: top
    .hero-left
      width: 25%
      text-align: left
    .hero-right
      width: 70%
      text-align: right
    .hero-logo
      width: 205px
      height: 205px
      margin-right: 60px
    h1, h2
      color: #2c3e50
      font-family: "Poppins", "Helvetica Neue", Arial, sans-serif
      font-size: 3.2em
      margin: 0
      border: 0
      letter-spacing: -1px
    h2
      font-size: 2.4em
      margin: 0 0 10px
      display: none
      color $landoPink
    .button
      margin: 1em 0
      font-size: 1em
      font-weight: 500
      letter-spacing: .05em
      min-width: 8em
      text-align: center
      &:not(:last-child)
        margin-right: 1%
  #hero_header
    width: 900px
    margin: auto
  #patriot_sponsors
    padding-top: 4em
    padding-bottom 4em
    text-align: center
    width: 900px
    margin: auto
    #patriots
      padding-top: 1em
    h4
      margin: 0
      color: lighten($landoGrey, 20%)
    .sponsor-patriot-block
      padding: 2em 1em
  #features
    background-color: #fff
    padding-bottom: 1em
    .inner
      max-width: 900px
      margin: 0 auto
      text-align: center
  #sponsors
    padding-top: 2em
    padding-bottom: 2em
    background-color: lighten($landoGrey, 98%)
    margin: 0 auto
    #partners,
    #allies,
    #heralds
      padding-top: 2em
      padding-bottom: 2em
      h4
        padding: 0
      &.smaller-inner
        max-width: 800px
      .strikethrough
        &:before, &:after
          border-top: 1px solid lighten($landoGrey, 85%)
    .sponsor-button
      text-align: center
  #footer
    background-color: white
    .footer-top
      background-color: white
      li
        a
          color: lighten($landoGrey, 30%)
      h3
        color: lighten($landoGrey, 50%)
        a
          color: lighten($landoGrey, 50%)
        &.strikethrough
          &:before, &:after
            border-top: 1px solid lighten($landoGrey, 85%)
      .footer-image
        img
          filter: none
      .newsletter-input
        background-color: lighten($landoGrey, 95%)
    .footer-copyright
      background-color: lighten($landoGrey, 95%)
      color: lighten($landoGrey, 30%)
@media (max-width: $MQMobile)
  .main-home
    .inner
      width: auto
    #hero
      .hero-logo
        float: none
        margin: 30px 0 15px
        width: 140px
        height: 140px
      .hero-left, .hero-right
        text-align: center
        width: 100%
      h1
        font-size: 2em
      h2
        display: block
        border: 0
      .button
        font-size: .9em
    #hero_header
      width: 80%
    #patriot_sponsors
      width: 80%
@media (max-width: $MQMobileNarrow)
  .main-home
    padding-left 1.5rem
    padding-right 1.5rem