$navTextColor = #5469d4
$accentColor = #5469d4
$textColor = #2a2f45
$codeBgColor = #001530
$boxBgColor = #f2f5f7
$tipGrey = #3c4257
$warningPink = #e28ddc
$gazpacho = #ed0100
$bgColor = #fbfbfb

$contentWidth = 800px

$primaryFont = 'Miriam Libre'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif