$navTextColor = #5469d4
$accentColor = #5469d4
$textColor = #2a2f45
$codeBgColor = #001530
$boxBgColor = #f2f5f7
$tipGrey = #3c4257
$warningPink = #e28ddc
$gazpacho = #ed0100
$bgColor = #fbfbfb

$contentWidth = 800px

// More things
$landoPink = #5469d4
$landoGrey = #47474A
$landoBlue = #035785
$landoOrange = #FF7042
$landoGreen = #00A38F
$landoGrey = #2c3e50


$primaryFont = 'Miriam Libre'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif